.box-soucer {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 200px;
    background-color: beige;
    text-align: center;
    text-decoration: none;
    line-height: 100px;
    border-radius: 15px;
}
.menu-one {
    list-style-type: none;
}

.box-soucer a {
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.box-soucer a:hover {
    opacity: 0.5;
} 

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(185, 210, 223, 0.981);
    line-height: 1.4;
}

.main-cv {
    min-height: 100px;
    max-width: 800px;
    background-color: #fff;
    margin: auto ;
    margin-top: 22px;
    padding: 30px 60px ;
    box-shadow: 
        28px 15px 35px rgba(0, 0, 0, 0.45),
        20px 30px 25px rgba(0, 0, 0, 0.35),
        10px 45px 20px rgba(0, 0, 0, 0.2); 
}

.introduce {
    text-align: center;
}

.name-cv h1 {
    font-size: 25px;

    font-weight:bolder


}


/* css phần content CV */

.content {

}
.bold-h2 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
}

.bold-h3 {
    font-size: 15px;
    font-weight: bolder;
}

.start-content {
    border-bottom: 2px solid black;

}

.content-heading {
    text-align: justify;
    margin-top: 15px;



}

.content-heading span {
    display: inline-block;
}


.full-width {
    width: 100%;
    display: inline-block;
}

ul {
    list-style-type:disc ;
    padding:0px 15px;
}

li p {
    display: inline;
    margin: 0;
}

/* footer */


.footer-heading {
    border-bottom: 2px solid black;
    margin-bottom: 15px;
}

.footer span {

    font-weight: bolder;
}

/* CSS MENU  */
.main-menu {
    margin: auto;
    max-width: 149rem;
    min-height: 85rem;
    background-image: url(https://i.pinimg.com/originals/db/ef/7e/dbef7e5e9f5d11db75f4fee9e9ea8dee.jpg);



}

.hearder-menu {
    background-color: rgb(144, 144, 148);
    height: 80px;
}

.nav {
    list-style-type: none;
}
.nav li {
    position: relative;
    display: inline-block;
    padding: 0 40px;


}
.nav>li>a {
    color: #fff;

}

.nav li a {
    text-decoration: none;
    font-size: 35px;
    display: block;
    line-height: 80px;
}

.nav .sub-nav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) ;
} 

.nav .sub-nav a {
    width: 380px;
    color: black;
    margin-left: -45px;



}
.nav .sub-nav a:hover {
    background-color: #9d9898;
    color: #fff;
} 

.nav li a:hover {
    background-color: #fff;
    color: black;
}

.nav li:hover .sub-nav {
    display: block;
}